In [7]:
import pandas as pd
import random
import numpy as np

In [4]:
# Create data frame with dates
date_range = pd.date_range(start='1/1/2020', end='1/8/2020', freq='H')
df = pd.DataFrame(date_range, columns=['datetime'])

In [16]:
# Generate data, return as list. 
def generate_prices(num_of_data,\
                    init_lower=60,\
                    init_higher=120,\
                    mean=0,\
                    stddev=3):

    send = []
    # First price
    send.append(np.random.randint(init_lower, init_higher))
    for i in range(num_of_data-1):
        #price_{i+1} = price_i + random.normal(mean, stddev)
        send.append(send[-1] + np.random.normal(mean, stddev))
        
    return send

In [21]:
# Add generated data to data frame
df['priceA'] = generate_prices(len(df))
df['priceB'] = generate_prices(len(df))
df['priceC'] = generate_prices(len(df))

In [22]:
df.head()

             datetime     priceA     priceB     priceC
0 2020-01-01 00:00:00  88.000000  98.000000  73.000000
1 2020-01-01 01:00:00  88.578050  95.895609  73.666198
2 2020-01-01 02:00:00  92.698460  96.084136  74.404100
3 2020-01-01 03:00:00  95.792155  91.630454  75.538741
4 2020-01-01 04:00:00  98.307472  88.002944  78.456243